*{ /* Define algumas propriedades gerais para a página */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; /* Remove a decoração de texto de um elemento */
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
#back{
    background: black;
}
#bg{
    z-index: -99;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#lua {
    user-select: none;
    position: relative;
    left: 65%;
    bottom: 80vh;
    width: 400px;
    height: 400px;
    transform: translateX(0px);
    animation: float 6s ease-out infinite;
}
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-60px);
    }
    100%{
        transform: translateY(0px);
    }
}
.boxlua{
    padding: 0 80px;
    height: 0;
}
.title {
    user-select: none;
    height: 0;
    width: 85%;
    position: relative;
    bottom: 80vh;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    /*letter-spacing: 10px;*/
    
}
.title h1{
    font-size: 80px;
}
.information{
    position: relative;
    display: flex;
    margin-top: 3%;
    width: 30%;
    height: 0px;
    
}
.menuToggle{
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 70px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.28);
    
}
.menuToggle::before{
    content: '+';
    position: absolute;
    font-size: 2em;
    font-weight: 200;
    color: #4292bf;
    transition: 1.5s;
}
.menuToggle.active::before{
    transform: rotate(225deg);
 }
.menu{
    position: absolute;
    width: 5px; height: 30px;
    border-radius: 70px;
    z-index: -1;
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: 1s, 0.5s, 0.5s;
    transition-timing-function: cubic- bezier(0.075, 0.82, 0.165, 1);
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.28);
    }
.menuToggle.active ~ .menu{
    width: 240px;
    height: 70px;
    z-index: 1;
    transform: translateX(73px);
    transition-delay: 0s, 0.5s, 0.5s;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}
.menuToggle.active ~ .menu::before
  {
    transition-delay: 0.5s;
    bottom: -8px;
}
.menu ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    gap: 40px;
}
.menu ul li{
    list-style: none;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-30px);
    transition: 0.25s;
    transition-delay: calc(0s + var(--i));
}
.menuToggle.active ~ .menu ul  li{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition-delay: calc(0.75s + var(--i));
}
.menu ul li a{
    display: block;
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}

/*.banner{
    background: url("/img/mandalorian.jpg") no-repeat;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}*/
.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 15px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.navbar.sticky{
    padding: 15px 0;
    background: crimson;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #4292bf;
    font-size: 33px;
    font-weight: 550;
}
.navbar .logo a span{
    color: #fff;
}
.navbar .menu-list li{
    list-style: none;
    display: inline-block;
}
.navbar .menu-list li a{
    display: block;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu-list li a:hover{
    color: #4292bf;
}
.linha{
    border-radius: 3px;
    width: 26.4px;
    height: 4px;
    background-color: #ffffff;
    transition: .3s;
}
.icon{
    margin: 0px;
    width: 28px;
    height: 24px;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.linha1{
    transform-origin: left bottom;
}
.linha3{
    transform-origin: top left;
}
.ativo .linha1{
    transform:rotateZ(45deg) ;
    transform-origin: left bottom;
}
.ativo .linha2{
    display: none;
}
.ativo .linha3{
    transform:rotateZ(-45deg) ;
    transform-origin: top left;
}
.sobre .sobre-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.typing-2{
    color: #4292bf;
}
section .titulos{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
section .titulos::before{
    content: "";
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 220px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .titulos::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: #4292bf;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.sobre .titulos::after{
    content: "Quem sou eu";
}
.sobre .sobre-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.sobre .sobre-content .right{
    width: 55%;
}
.sobre .sobre-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.sobre .sobre-content .right .text span{
    color: crimson;
}
.sobre .sobre-content .right p{
    text-align: justify;
}
.sobre .sobre-content .right a{
    display: inline-block;
    background: #4292bf;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    transition: all 0.3s ease;
}
.sobre .sobre-content .right a:hover{
    color: #fff;
    background-color: crimson;
}
@media (max-width: 1104px) {
    .sobre .sobre-content .left img{
        height: 350px;
        width: 350px;
    }
    #lua{
        display: none;
    }
}
@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 930px;
    }
    .icon{
        position: absolute;
        right: 50px;
        display: flex;
    }
    .navbar{
        background: black;
        display: flex;
        text-align: center;
    }
    .menu-list li{
        padding: 14px;
    }
    .menu-list li a{
        width: 100px;
    }
    .navbar .menu-list{
        align-items: center;
        display: flex;
        padding: 30px 0;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 55%;
        left: -100%;
        gap: 0;
        top: 70px;
        border-radius: 0 0 20px 20px;
        background-color: black;
        transition: 0.3s;
    }
    .navbar .menu-list.ativo {
        left: 0;
    }
    .title{
        left: 10vw;
        text-align: center;
    }
    .title h1{
        font-size: 65px;
    }
    .information{
        left: 7%;
    }
    .sobre .sobre-content .column{
        width: 100%;
    }
    .sobre .sobre-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .sobre .sobre-content .right{
        flex: 100%;
    }
}
@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
}
@media (max-width: 500px) {
    .sobre .sobre-content .right .text{
        font-size: 19px;
    }

}
@media (max-height: 870px) and (max-width: 947px) {
    #lua{
        display: none;
    }

}

